.form_layout {
  width: 77%;
  margin-top: 80px;
  margin-left: 8%;
}
.icon_cancel {
  float: right;
  margin: 10px 10px 10px 10px;
}
.el-divider__text,
.el-link {
  font-weight: 500;
  font-size: 22px;
}
.headTab {
  width: 100%;
  float: left;
}
.is-selected {
  color: #1989fa;
}
.el-calendar {
  background-color: #ff848494;
  width: 44%;
}
.wrapper {
  width: 101%;
  min-height: 952px;
  top: 0;
  left: 0;
  margin: -15px -15px 0px -10px;
  padding: 0px 0px 0px 0px;
  overflow-y: auto;
  overflow-x: hidden !important;
}
.head {
  margin-top: 40px;
  width: 64%;
  margin: 0 auto;
  color: aquamarine;
  height: auto !important;
  min-height: 100px;
}
.tab {
  width: 100%;
}
.infocard {
  height: 100px;
  float: left;
  margin-left: 10px;
  width: 18%;
  margin-top: 10px;
  background-color: transparent;
  opacity: 0.75;
  transform: scale(1);
  transition: all 1s linear;
}
.iframe {
  display: block;
  margin: 0 auto;
  margin-top: 23px;
  background-color: rgb(176, 224, 238);
}
.el-tabs__item {
  color: aliceblue;
}
.fengche {
  width: 4%;
  height: 8%;
  position: fixed;
  bottom: 80px;
  right: 50px;
}
#cnzz_stat_icon_1278002297 {
  position: fixed;
  bottom: 80px;
}
.welcome {
  display: flex;
  align-items: center;
  width: 20%;
  color: var(--theme);
  cursor: pointer;
  margin-left: 43%;
  color: aliceblue;
  font-size: 20px;
}
.tq {
  position: fixed;
  left: 0px;
  top: 90px;
}
.el-tabs__content {
  overflow: hidden;
  position: relative;
  margin-left: 12%;
  width: 89%;
  padding-bottom: 13px;
}
.el-tabs--left .el-tabs__header.is-left {
  float: left;
  margin-bottom: 0;
  margin-right: 1%;
  width: 10%;
}
.el-tabs__nav {
  margin-top: 20px;
}
.el-tabs__item {
  padding: 0 20px;
  height: 40px;
  box-sizing: border-box;
  line-height: 40px;
  display: inline-block;
  list-style: none;
  font-size: 18px !important;
  font-weight: 500;
  color: #ffffff;
  text-align: center !important;
  position: relative;
}
